aerospike==4.0.0
aiobotocore==1.1.2
aiohttp
cachetools
coverage<5.0.0
ecdsa
eth-hash[pycryptodome]==0.2.0
eth-utils<=1.9.5
fastecdsa
frozendict==1.2
isort<5.0.0
lark-parser
marshmallow-dataclass>=7.1.0
marshmallow-enum
marshmallow-oneofschema
marshmallow>=3.2.1
mpmath
numpy
pipdeptree
prometheus-client
pytest
pytest-asyncio
pytest-cov
PyYAML>=5.3.1,<5.4
sphinx
sympy
Web3==5.16.0
typeguard
